{% extends "base.html" %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'strategies/css/steps.css' %}"/>{% endblock %}
{% block content %}
    <div class="text-center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><a href="{% url 'maps:map-detail' strat.map.id %}">see all strategies for that map <b>-></b></a></div>
            <div class="col-md-4 pull-right">
                <a href="{% url 'strats:strats-step-add' strat.id %}">Add a new step</a>
            </div>
        </div>
        <div class="row text-left">
            {% for step in steps %}
                <div id="step">
                    <div class="col-md-8"><img class="img-responsive" src="{{ step.image.oyun.url }}"/></div>
                    <div class="col-md-3">{{ step.command|linebreaks  }}</div>
                    <div class="col-md-1"><a href="{% url 'strats:step-delete' step.id %}">delete</a></div>
                </div>
        {% endfor %}
        </div>


        <p></p>
    </div>
{% endblock %}
</html>